body {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-family: Helvetica;
  margin: 70px;
}

.media-body {
  flex: 1
}

.media {
  display: flex;
  align-items: flex-start;
  background-color: #F7F7F7;
  padding: 30px;
  width: 20%;
  align-items: stretch;
}

.media-object {
  background-image: url(images/pic.jpg);
  background-size: cover;
  border-radius: 70px;
  width: 110px;
  height: 110px;
  margin-right: 40px;
}