body {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  font-family: Helvetica;
  margin: 0;
  min-height: 100vh;
}

a {
  color: #333333;
  text-decoration:none;
  font-weight: bold;
}

a:hover {
  color: #CC0000;
}

aside {
  width: 20vw;
  background-color: #7C7C7C;
  padding: 70px;
}

main {
  flex: 1;
  background-color: #BFBFBF;
  padding: 70px;
}
